.page-footer{
    background-color: #262626;
    width: 100%;
    height: 100%;
}

.page-footer .logo{
    margin-top: 56px;
    margin-bottom: 40.31px;
    width: 190.77px;
    height: 19.69px;
}
.page-footer hr{color: #FFFFFF;margin: 0px;}

.page-footer a{color: white; text-decoration: none;}
.page-footer .info{
    padding: 32px 0px 0px 0px;
}

.page-footer .info p{
    margin-bottom: 23px;
    padding: 0px;
    font-size: 13px;
    height: 16px;
}

#langs{
    height: 40px;
    width: 227px;
    background-color: #3B3B3B;
    color: #FFFFFF;
    padding-left: 48px;
    font-size: 13px;
    position: relative;
    left: -20px;
}

.page-footer .stores{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.page-footer .stores a{
    margin: 40px 20px;
}

.page-footer .end-items{
    margin: 0px;
    padding: 0px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.end-items>div>div{padding: 0px;}
.page-footer .end-items>div{
    margin: 28px auto;
    width: 100%;
}
.page-footer .end-items p{
    font-size: 11px;
    padding: 12px 0px;margin:0px;
}

@media screen and (max-width: 575px) {
    #langs{width: 173px;}
    .social{margin-bottom: 39px;}
}

@media screen and (min-width: 576px) {
    #langs{width: 176px;}
    .social{margin-bottom: 39px;}
}

@media screen and (min-width: 768px) {
    #langs{width: 176px;}
}


@media screen and (min-width: 992px) {
    #langs{width: 227px;}
}