.page-header{
    position: fixed;
    z-index: 1 ;
    top: 0px;
    box-shadow: 2px 0px 5px #CCC;
    background-color: #FFF;
    margin: 0px;
    width: 100%;
    height: 72px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.page-header > a > img{
    position: relative;
    top: 0px;
    width: 119.23px;
    height: 12.31px;
}

.page-header .header-buttons{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0px;
    right: 0px;
    text-align: center;
}

#basket{height: 72px;width: 40px;}

#sign-in{
    position: relative;
    top: 0px;
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    height: 40px;
    width: 78px;
    padding: 0px;
    margin-right: 16px;
    font-weight: bold;
    font-size: 13px;
}

#btn-up{
    background-image: url("./../../assets/btn-up.png");
    background-position: center;
    height: 80px;
    width: 80px;
    border: 0px;

    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 24px 16px;
}


@media screen and (max-width: 575px) {
    .main-container{padding: 0px 8px;}
    #basket{display: none;}
    #sign-in{margin:16px 0px;}
    .page-header .header-buttons{
        margin-right: 16px;
        padding: 0px;
    }
    #btn-up{height: 64px; width: 64px;}
}

@media screen and (min-width: 576px) {
    #btn-up{height: 64px; width: 64px;}
    .main-container{padding: 0px 8px;}
}

@media screen and (min-width: 768px) {
    #btn-up{height: 80px; width: 80px;}
    .main-container{padding: 0px 8px;}
}


@media screen and (min-width: 992px) {
    .main-container{padding: 0px 81px 0px 87px;}
    #btn-up{height: 80px; width: 80px;}
}
